<div>
  <% if @name %>
  <h1> My name is, <%=@name%> </h1>
  <% end %>
  <form action="/named-cat">
    <label for="name">Cat name:</label><br>
    <input type="text" name="name"><br>
    <input type="Submit" name="submit"><br>
  </form>
  <img style='border:50px dashed red' src='https://s3.amazonaws.com/f.cl.ly/items/0k0v3e2X3l2f3i1n1Y19/Screen%20Shot%202013-09-10%20at%2011.32.00.png'>
</div>